<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<div align="center">
    <form th:action="@{/admin/add}" method="post">
        <table border="1" cellpadding="5">
            <tr>
                <th>Name: </th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>Login: </th>
                <td><input type="text" name="login"></td>
            </tr>
            <tr>
                <th>Password: </th>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <th>Role: </th>
                <td>
                    <select name="role">
                        <option>admin</option>
                        <option>user</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="add"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>